* {
    padding: 0;
    margin: 0;
}

body {
    background: #1DD0FF;
    color: #000;
}

.contenedor {
    width: 98%;
    margin: 5px auto 5px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(80px, auto) 1fr minmax(80px, auto);
    grid-template-areas:    "header"
                            "formulario"
                            "footer" ;
}

.contenedor .cabecera {
    grid-area: header;
    background: #17A6CC;
    text-align: center;
    border-radius: 10px;
}

.contenedor .cabecera ul {
    text-align: end;
    margin-right: 20px;
}

.contenedor .cabecera ul li {
    list-style: none;
    display: inline-block;
    width: 50px;
}

.contenedor .formulario {
    grid-area: formulario;
    background: #51767F;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 800px;
    height: auto;
    justify-self: center;
}

.contenedor .formulario h4 a {
    color: #fff;
    
}

.contenedor .formulario h4 {
    display: inline-block;
}

.contenedor .formulario .left {
    float: left;
}

.contenedor .formulario .right {
    float: right;
}


.contenedor .piePagina {
    grid-area: footer;
    background: #17A6CC;
    border-radius: 10px;
}